body {
    background-color: #C4DDFF;
}
hr {
  border-style: dotted none none;
  border-color: #363062;
  border-width: 5px;
  width: 5%;
}
h3 {
  text-decoration: underline;
  text-decoration-color: #371B58; 
  color: #827397;
}
h1 {
  color: #827397;
}
